body {
  font-family: 'Spectral';
  font-size: 19px;
  text-align: center;
  background-color: #342b3d;
  border-style: solid;
  border-width: 20px;
  border-color: #0e021c
}

.interval {
  border-top-color: #3a047a;
  border-bottom-color: #1a013d;
  border-left-color: black;
  border-right-color: black;
  border-width: 10px;
  border-style: solid;
  background-color: #b8ddf2;
}

.container {
  background-color: #b8ddf2;
  border-color: black;
  border-width: 10px;
  border-style: solid;
}

h3 {
  margin-left: 350px;
  border-style: solid;
  border-top-color: #1114ba;
  border-left-color: #3a047a;
  border-right-color: #01035c;
  border-bottom-color: black;
  border-width: 5px;
  width: 550px;
}

a {
  color: #0019ff;
}

a:hover {
  color: #55b6ed;

}

a:active {
  color: #0004ff;
}

.imgGroup-1 img{
  border-color: black;
  border-width: 10px;
  border-style: solid;
  height: 125px;
  width: 200px;
  margin-top: 5px;
}

.imgGroup-1 {
  position: relative;
}
